body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.filter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  margin-top: 20px;
  position: relative;
  &-img-top {
    height: 200px;
    object-fit: cover;
  }
  &-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
  }
  &-content {
    &__like {
      position: absolute;
      right: 10px;
      top: 10px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1.2s;
      &--active {
        transition: 1.2s;
        background: #ff647c;
        svg {
          path {
            fill: #ffcf5c;
          }
        }
      }
      &:hover {
        transform: scale(1.15);
        svg {
          path {
            fill: #ff647c;
          }
        }
      }
    }
  }
}
